<!-- Sidebar -->
<div class=" col-2 bg-light side-bar">
  <img class="sidebar-heading" src="/assets/logo.svg" alt="pin">
  <li href="#" class="borderless">
    <img class="mr-3" src="/assets/ic_tasks.svg" alt="pin">My Tasks</li>
  <li href="#" class="borderless"><img class="mr-3" src="/assets/ic_projects.svg" alt="pin">Projects</li>
  <li href="#" class="borderless"><img class="mr-3" src="/assets/ic_calendar.svg" alt="pin">Calender</li>
</div>
<!-- /#sidebar-wrapper -->