<!-- Page Content -->

<div class="col-9 content">
  <TopNav />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="action" scope="col">Task</th>
          <th class="action" id="l-col" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each @tasks as |task|}}
        <SingleTask @task={{task}} />
        {{/each}}
      </tbody>
    </table>
  </div>
</div>