<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 pl-0 mt-3">
            <nav class="nav top-nav">
                <LinkTo @route="task-list" class="nav-link ml-3">
                    All Tasks
                </LinkTo>
                <LinkTo @route="completed-tasks" class="nav-link ml-3">
                    Completed tasks
                </LinkTo>
            </nav>
        </div>
        <div class="col-md-4">
            <img class="img-right mt-3" src="/assets/profile.png" alt="pin" />
        </div>

    </div>
</div>