<div class="container">
  <div class="row">
    <div class="col-md-8">
        <nav class="nav top-nav">
            <a class="nav-link active" href="#">All Tasks</a>
            <a class="nav-link ml-3" href="#">Completed tasks</a>
        </nav>
    </div>
    <div class="col-md-4">
        <img class="img-right" src="/assets/profile.png" alt="pin" />
    </div>

 </div>
</div>

